@media only screen and (max-width: 480px) {
    .hide {
        display: none;
    }
}
@media only screen and (min-width: 481px) {
    .show {
        display: none;
    }
}
@media only screen and (max-width: 768px) {
    .outsidebox {
        width: 340px;
        text-align: center;
        margin-top: 10px;
        padding: 10px;
        border: solid 1px;
    }        
}
@media only screen and (min-width: 769px) {
    .outsidebox {
        text-align: center;
        margin-top: 10px;
        padding: 30px;
        width: 500px;
        border: solid 1px;
    }
}

p {
    word-break: break-all;
}
.tit1{
    font-family: DFkai-sb, sans-serif;
    font-size: 1.9rem;
    /*color: darkblue;*/
    white-space: pre-wrap;
}
.img-mid{
    width: 80%; 
    margin: 0 auto;
}
.MsoNormal{
    font-family: DFkai-sb, sans-serif;
    font-size: 1.2rem;
    /*color: darkblue;*/
    /*float: left;*/
    white-space: pre-wrap;
}
.link-top {
    display: inline-block;
    width: 100%;
    height: 1px;
    border-top: solid #6a6e72a9 2px;
}
.b-color {
    color: rgb(255, 255, 255);
}
.box {
    text-align: left;
    margin: 10px;
}
.tit2 {
    font-size: 1.5rem;
    color: Red;
}
