@media only screen and (min-width: 481px) {
    .show {
        display: none;
    }
}
@media only screen and (max-width: 768px) {
    .hide {
        display: none;
    }
    .outsidebox {
        width: 100%;
        height: 990px;
        /*text-align: center;*/
        margin-top: 10px;
        padding: 10px;
        border: solid 1px;
    }
    
    .itembox {
        width: 100%;
        height: 180px;
        padding: 3px;
        margin-bottom: 15px;
        border: solid 1px rgb(112, 111, 108);
    }
    .itempic {
        min-width: 130px;
        height: 130px;
        float: left;
        border: solid 1px orange;
    }
    .itemAmount {
        width: 190px;       
        float: right;
        /*border: solid 1px rgb(112, 111, 108);*/
        padding: 0px 5px 0px 5px;
    }
    .itemtit{
        font-size: 25px;
        padding: 5px 0px 5px 0px;
    }
    .amount {
        font-size: 20px;
        line-height: 35px;
    }
    .money {

        line-height: 40px;
        margin: 5px 0px 5px 0px;
    }
    .outsidebox .down, .outsidebox .add {
        color: rgb(31, 35, 41);
        padding: 0px 5px 0px 5px;
        background: rgb(249, 197, 119);
        font-weight: bold;
        font-size: 28px;
        line-height: 35px;
        cursor: pointer;
    }
    .tnum {
        font-size: 20px;
        line-height: 35px;
        padding: 5px 0px 5px 0px;
    }
    .last {
        width: 200px;
        float: right;
        margin: 5px 10px 5px 0px;
        border: solid 1px rgba(112, 111, 108, 0);
    }
}
@media only screen and (min-width: 769px) {
    .outsidebox {
        display: none;
    }
}

header {
    /*background-image:  url(https://imgur.com/5AaRBXT.jpg);*/
    max-width:100%;
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
.overlay{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100%;
    right: 0;
    bottom: 0;
    padding: 0 !important;
    margin: 0 !important;
    background-color: rgba(10, 10, 10, 0.3);
 }

 nav{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px 60px 0 60px;
}

nav li{
    list-style: none;
    display: inline-block;
    padding-right: 15px;
    padding-left: 10px;
 
}

nav li span{
    padding-left: 5px;

}

li a{
    padding: 15px;
    background-color: rgb(249, 212, 164);
    text-decoration: none;
    border-radius: 20px; 
}

table{
    border-collapse: collapse;
    width:1000px;
    margin:100px auto 0;
}

table td{
    border:2px solid rgb(239, 213, 107);
}

table tr td{
    width: 250px;
    height: 100px;
    text-align: center;
}

table tr.title td{
    height: 50px;
    background: rgb(240, 187, 127);
    color:brown;
    font-weight: bold;
    font-size: 20px;
}

table tr td.number span{
    display: inline-block;
    font-size: 25px;
    width: 30px;
    text-align: center;
}

table tr td.number span.down,
table tr td.number span.add{
    width: 25px;
    height: 30px;
    background: rgb(250, 199, 121);
    font-weight: bold;
    font-size: 20px;
    line-height: 35px;
    cursor: pointer;
}

.box{
    width: 1000px;
    height: 50px;
    background: rgb(240, 187, 127);
    margin: 10px auto;
}

.box p{
    float: right;
    width: 250px;
    height: 50px;
    line-height: 50px;
    color: brown;
    font-size: 20px;
}

.box p span{
    color:rgb(11, 9, 1);
    font-size: 25px;
    font-weight: bold;
}

/*---------------------------------*/

.link-top {
    display: inline-block;
    width: 90%;
    height: 1px;
    margin-bottom: 10px;
    border-top: solid #6a6e727f 2px;
}







